<h1>Markets</h1>
<p>Markets web offers services and tools to customers who would like to know information about capital markets, according to their membership tier to enhance their experience and their understanding of the capital markets </p>

<p>Markets also offers free real-time streaming current prices, market cap, location of the company and more information that you would like to know.  You can track multiple portfolios or watchlists, plus global indices, futures, and commodities.

Detailed stock information includes price and volume data, news, and earnings for the past six quarters and the next earnings date, which you can add to your calendar. </p>